doctype html
html 
	head
		title="URL-Shortener"
		style
			include style.css
	body
		h1 URL Shortener Microservice
		div
			<ul>
				<li>Usage : pass URL <span>" current " + " yoururl "</span> and its return original and shorten url. <br />
				<li>Example : <span>"<a href="https://mgj-urls.glitch.me/https://www.google.com"> https://mgj-urls.glitch.me/https://www.google.com </a>"</span><br />
				<li>Returns : <span>'{original : " <a href="https://www.google.com">https://www.google.com </a>" , shorten : " <a href="https://mgj-urls.glitch.me/993720">https://mgj-urls.glitch.me/993720 </a>"}'</span>